:root {
    /* Type Scale */
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);

    /* Fluid Space */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem);
}

*,
*::after,
*::before {
    /* border: 1px solid black; */
}

body {
    font-family: "Roboto", sans-serif;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    background-color: #FFFFFF;

    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header__top {
    grid-row: 1 / 2;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.searchbar {
    width: 50vw;
    background-color: #E2E8F0;
    border-radius: 100px;
}

.header__bottom {
    grid-row: 2 / -1;
    
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
}

.header__bottom ul {
    list-style-type: none;
    
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}

.header__bottom li {
    background-color: #1992D4;
    color: #FFFFFF;
    border-radius: 100px;
    padding: 0.5em 2em;
}

.header__bottom a {
    text-decoration: none;
    color: inherit;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: #1992D4;
    color: #FFFFFF;
    padding: 0.5em;
    font-weight: bold;
    font-size: var(--step-0);
}

#sidebar .nav-bar {
    margin-top: 2rem;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar a {
    text-decoration: none;
    color: inherit;
    padding: 0.25em;

    display: grid;
    grid-template-columns: 1fr 3fr;
}

#main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    background-color: #E2E8F0;
    padding: 1em;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    gap: 3rem;
}

.projects .section--title {
    grid-column: span 2;
}

.project-container {
    padding: 2em 1em;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 1px 1px 10px black;
    border-left: 8px solid #F0B429;
    max-height: 300px;
}

.announcements {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.announcement-container,
.trending-container {
    padding: 3em;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 1rem 0;
}

.announcement-title {
    margin-top: 1rem;
}

.announcement-para,
.trending-para,
.project-description {
    margin-bottom: 1rem;
    color: gray;
}

.trending {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}